
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
head {
  padding: 100px;
}
body {
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 font-family: Arial, Helvetica, sans-serif;
 background-image: url("image.png");
}

table {
  border-collapse: collapse; float: left;

}
td, th {
  border: 1px solid black;
  padding: 1em;
}
</style>

<div align="middle">
<h1> &nbsp; </h1>
<h1> &nbsp; </h1>
<h1> &nbsp; </h1>
<h1> &nbsp; </h1>
<head>
  <h1 style="font-size:50px">Grocery List</h1>
  <h3>By Dan, Eoin, & Andrew</h3>
</head>
<body>
<h2>Making your shopping experience a delight since 2019.</h2>

</body>
<div>

<h1> &nbsp; </h1>

<form action="/list" method="post">
 <input type="text" maxlength="15" name="item">

<select name="category" required>
 <option value="Fruit & Veg"> Fruit & Veg</option>
 <option value="Meat & Fish">Meat & Fish</option>
 <option value="Drinks">Drinks</option>
 <option value="Dairy">Dairy</option>
 <option value="Toiletries">Toiletries</option>
 <option value="Cleaning Supplies">Cleaning Supplies</option>
 <option value="Alcohol">Alcohol</option>
 <option value="Misc">Misc</option>

</select>

<input type="submit" value="Submit">
</form>

<form action="/list/reset" method="post">
  <input type="submit" value="Reset" />
</form>
<ul>

<table bgcolor="#F0FFF0">
<tr>
    <th>Fruit & Veg</th>
</tr>
<tr>
      <%  @items.each do |item| %>
        <% if item.category == 'Fruit & Veg' %><tr><td><%= item.item %><input type="checkbox"></td></tr><% end %>
      <% end %>
</table>

<table bgcolor="#F0FFF0">
<tr>
    <th>Meat & Fish</th>
</tr>
<tr>
      <%  @items.each do |item| %>
         <% if item.category == 'Meat & Fish' %><tr> <td><%= item.item %><input type="checkbox"></td> </tr> <% end %>
      <% end %>
</table>

<table bgcolor="#F0FFF0">
<tr>
    <th>Drinks</th>
</tr>
<tr>
      <%  @items.each do |item| %>
         <% if item.category == 'Drinks' %> <tr><td><%= item.item %><input type="checkbox"></td></tr><% end %>
      <% end %>
</table>

<table bgcolor="#F0FFF0">
<tr>
    <th>Dairy</th>
</tr>
<tr>
      <%  @items.each do |item| %>
         <% if item.category == 'Dairy' %> <tr><td><%= item.item %><input type="checkbox"></td> </tr><% end %>
      <% end %>
</table>

<table bgcolor="#F0FFF0">
<tr>
    <th>Toiletries</th>
</tr>
<tr>
      <%  @items.each do |item| %>
        <% if item.category == 'Toiletries' %><tr><td><%= item.item %><input type="checkbox"></td></tr><% end %>
      <% end %>
</table>

<table bgcolor="#F0FFF0">
<tr>
    <th>Cleaning Supplies</th>
</tr>
<tr>
      <%  @items.each do |item| %>
        <% if item.category == 'Cleaning Supplies' %> <tr><td><%= item.item %><input type="checkbox"></td></tr><% end %>
      <% end %>
</table>

<table bgcolor="#F0FFF0">
<tr>
    <th>Alcohol</th>
</tr>
<tr>
      <%  @items.each do |item| %>
        <% if item.category == 'Alcohol' %> <tr><td><%= item.item %><input type="checkbox"></td></tr><% end %>
      <% end %>
</table>

<table bgcolor="#F0FFF0">
<tr>
  <th>Misc</th>
</tr>
<tr>
      <%  @items.each do |item| %>
        <% if item.category == 'Misc' %> <tr><td><%= item.item %><input type="checkbox"></td> </tr><% end %>
      <% end %>
</table>
